.TodoItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  /* cursor: pointer; */
  border: 1px solid var(--color-border);
  border-radius:5px;
  margin-bottom: 5px;
}
.TodoItem:hover{
  background-color:var(--color-gray-6);
}
.Icon{
  /* display: inline-block; */
  /* width: 20px; */
  /* height: 20px; */
  /* border-radius: 50%; */
  cursor: pointer;
  /* padding:2px; */
  color:var(--color-gray-1);
}

.checked{
  color:var(--color-primary);
}

.text-checked{
  text-decoration: line-through;
  color:var(--color-gray-4);
}

.ChekItem:hover{
  color:var(--color-primary-focus);
}

.DeleteItem:hover{
  color:var(--color-error);
}
